option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: my_site.wsgi:application
# *NOTES*
# This configuration file sets the WSGI path for the Django application.
# `WSGIPath` specifies the entry point for the WSGI application, which is `my_site.wsgi:application`.
# This is required by AWS Elastic Beanstalk to correctly run the Django application.
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-django.html
