{% extends "base.html" %}
<!-- *NOTES*
This template extends `base.html`, which means it inherits all the content from the `base.html` template.
The `{% extends %}` tag is used for template inheritance in Django.
https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#std-template-tag-extends
-->

{% load static %}
<!-- *NOTES*
This line loads the `static` template tag, which is used to serve static files in Django templates.
https://docs.djangoproject.com/en/5.0/howto/static-files/#serving-static-files-in-templates
-->

{% block css_files %}
  <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
  <!-- *NOTES*
  This line links to a static CSS file named `challenge.css` in the `challenges` directory.
  The `{% static %}` tag is used to generate the URL for the static file.
  https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#static
  -->

  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
  <!-- *NOTES*
  This line links to another static CSS file named `header.css` in the `challenges/includes` directory.
  The `{% static %}` tag is used to generate the URL for the static file.
  https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#static
  -->
{% endblock %}

{% block page_title %}
  {{ month_name|title }} Challenge
  <!-- *NOTES*
  This block sets the page title to the current month's name followed by "Challenge".
  The `|title` filter capitalizes the first letter of each word in `month_name`.
  https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#title
  -->
{% endblock %}
  
{% block content %}
  {% include "challenges/includes/header.html" %}
  <!-- *NOTES*
  This line includes the `header.html` template.
  The `{% include %}` tag is used to include another template and render it in the current template.
  https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#include
  -->
  
  <h1>{{ month_name|title }} Challenge</h1>
  <!-- *NOTES*
  This line displays the current month's name as a heading.
  The `|title` filter capitalizes the first letter of each word in `month_name`.
  https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#title
  -->

  {% if text is not None %}
    <h2>{{ text }}</h2>
    <!-- *NOTES*
    This line displays the challenge text as a heading if `text` is not `None`.
    The `{{ }}` syntax is used to output the value of `text`.
    https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#std-template-tag-if
    -->
  {% else %}
    <p class="fallback">There is no challenge for this month yet!</p>
    <!-- *NOTES*
    This line displays a fallback message if `text` is `None`.
    The `<p>` tag is used for paragraph text, and the class `fallback` can be used for styling.
    https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#std-template-tag-if
    -->
  {% endif %}
{% endblock %}
